<main>
  <pb-breadcrumbs>
    <h1>Hey this Breadcrumbs component</h1>

<div>
  Personal Budget - Breadcrumbs
</div>

  </pb-breadcrumbs>
  <section class="container center">

    <div class="page-area">
            <!--This is a semantic HTML change-->
        <pb-article class="text-box">
            <!-- This is SEO tag-->
            <h1><img id="tarImg"src="/assets/target.png" alt="logo" />&nbsp; Stay on track</h1>

                <div>
                    Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!
                </div>


        </pb-article>

        <pb-article class="text-box">
            <h1>Alerts</h1>
            <div>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </div>
        </pb-article>

        <pb-article class="text-box">
            <h1>Results</h1>
            <div>
                People who stick to a financial plan, budgeting every expense, get out of debt faster!
                Also, they to live happier lives... since they expend without guilt or fear...
                because they know it is all good and accounted for.
            </div>
        </pb-article>

        <pb-article class="text-box">
            <h1>Free</h1>
            <div>
                This app is free!!! And you are the only one holding your data!
            </div>
        </pb-article>

        <pb-article class="text-box">
            <h1><img id="tarImg"src="assets/target.png" alt="logo" />&nbsp;Stay on track</h1>
            <div>
                Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!
            </div>
        </pb-article>

        <pb-article class="text-box">
            <h1>Alerts</h1>
            <div>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </div>
        </pb-article>

            <pb-article class="text-box">
              <h1>D3 JS</h1>
              <div>
                <pb-pie></pb-pie>

              </div>
            </pb-article>

            <article class="text-box">
                <h1>Chart JS</h1>
                <p>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </p>
            </article>

    </div>

</section>
</main>
